@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <div class="jumbotronOne" id="firstPhoto" onmouseover="imageHover()">
            <h1><a class="mainLinks" href="Accessories">SHOP ACCESSORIES</a></h1>
        </div>
    </div>

    <div class="col-md-6">
        <div class="jumbotronTwo">
            <h1><a class="mainLinks" href="Clothings">SHOP CLOTHING</a></h1>
        </div>
    </div>
</div>
